<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30">

	<properties>
		<property name="log_room_file">logs/$${date:yyyy-MM-dd_HH-mm-ss}-gui.log</property>
		<property name="log_protobuf_file">logs/$${date:yyyy-MM-dd_HH-mm-ss}-messages.log
		</property>
		<property name="msg_layout">%d{HH:mm:ss SSS} [%-5level] [%-10t] %logger{1}: %m%n%ex</property>
	</properties>

	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${msg_layout}" />
		</Console>

		<FastFile name="RoomLogs" fileName="${log_room_file}">
			<PatternLayout pattern="${msg_layout}" />
		</FastFile>

		<FastFile name="ProtoLogs" fileName="${log_protobuf_file}">
			<PatternLayout pattern="${msg_layout}" />
		</FastFile>

		<Async name="AsyncLogs">
			<appender-ref ref="RoomLogs" />
			<appender-ref ref="Console" />
		</Async>

		<Async name="AsyncProtobuf">
			<appender-ref ref="ProtoLogs" />
		</Async>
	</appenders>

	<loggers>
		<Logger name="MESSAGES" level="info" additivity="false">
			<appender-ref ref="AsyncProtobuf" />
		</Logger>
		<root level="info">
			<appender-ref ref="AsyncLogs" />
		</root>
	</loggers>
</configuration>